[submodule ".local/share/nvim/site/pack/plugins/start/telescope.nvim"]
	path = .local/share/nvim/site/pack/plugins/start/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim.git
	branch = master
[submodule ".local/share/nvim/site/pack/plugins/start/plenary.nvim"]
	path = .local/share/nvim/site/pack/plugins/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim.git
	branch = master
[submodule ".local/share/nvim/site/pack/plugins/start/nvim-treesitter.nvim"]
	path = .local/share/nvim/site/pack/plugins/start/nvim-treesitter.nvim
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
	branch = master
[submodule ".local/share/nvim/site/pack/plugins/start/kotlin-vim"]
	path = .local/share/nvim/site/pack/plugins/start/kotlin-vim
	url = https://github.com/udalov/kotlin-vim.git
	branch = master
