*
!.gitignore
!.gitmodules
!README.md
!.zshenv
!.vimrc
!.gitconfig
!.config/*
!.config/**
!.config/bin/*
!.config/nvim/*
!.config/nvim/pack/plugins/start/*
!.config/tmux/*
!.rgignore
!.tmux.conf
!.editorconfig
!docs/*
!.ssh/
!.ssh/config

**/.DS_Store
