*
!.gitignore
!.gitmodules
!README.md
!.zshenv
!.vimrc
!.gitconfig
!.profile
!.config/
!.config/bin/
!.config/bin/*
!.config/nvim/
!.config/nvim/*
!.config/nvim/pack/plugins/
!.config/nvim/pack/plugins/start/
!.config/nvim/pack/plugins/start/*
!.rgignore
!.tmux.conf
!.editorconfig
!docs/
!docs/*
docs/.*
!.ssh/
!.ssh/config
**/.DS_Store
