*
!.gitignore
!.gitmodules
!README.md
!.zshenv
!.vimrc
!.gitconfig
!.config/
!.config/bin/
!.config/bin/*
!.config/kitty/
!.config/kitty/*
!.config/ranger/
!.config/ranger/*
!.config/nvim/
!.config/nvim/*
!.config/nvim/pack/plugins/
!.config/nvim/pack/plugins/start/
!.config/nvim/pack/plugins/start/*
!.config/tmux/
!.config/tmux/*
!.rgignore
!.tmux.conf
!.editorconfig
!docs/
!docs/*
docs/.*
!.ssh/
!.ssh/config
**/.DS_Store
